@mixin hover-focus {
    &:focus {
        @content;
    }

    @media (min-width: 992px) {
        &:hover {
            @content;
        }
    }
}

.SocialLinks {
    position: fixed;
    bottom: 0;
    right: 0;

    padding: 2rem;
}

.SocialLinks__list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 2rem;

    list-style: none;
}

.SocialLinks__list__item {
    line-height: 1;
}

.SocialLinks__link {
    position: relative;

    display: block;

    color: var(--text-color);
    text-align: center;
    line-height: 1;
}

.SocialLinks__link:not(:disabled) {
    @include hover-focus() {
        .SocialLinks__link__icon {
            translate: 0 -1.3rem;
        }

        .SocialLinks__list__item__platform {
            opacity: 1;
            transition-delay: .1s;
        }
    }

    &:active {
        .SocialLinks__link__icon {
            translate: 0 -1.3rem;
        }

        .SocialLinks__list__item__platform {
            opacity: 1;
            transition-delay: .1s;
        }
    }
}

.SocialLinks__link__icon {
    width: auto;
    height: 2.5rem;
    display: block;
    margin: 0 auto;

    transition: translate .3s ease-in-out;

    fill: var(--text-color);
}

.SocialLinks__list__item__platform {
    position: absolute;
    bottom: 0;
    left: 50%;

    translate: -50%;

    opacity: 0;

    font-size: .9em;
    font-variation-settings: "wght" 700;
    text-transform: uppercase;

    transition: opacity .3s ease-in-out;
    transition-delay: 0;
}
